.header{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 5;
}
.logo{
    height: 60px;
}

.header_btn{
    background-color: #3e8391;
    color: #fff;
}
.header_btn:hover{
    /* background-color: #3e8391;
    color: #fff; */
    background-color: #fff;
    color:#3e8391;
    font-size: 1.3em;
}
.nav-link{
    color:#fff;
    font-size:1.2em;
    background-color: #2f557f;
}
.nav-link:hover{
    font-size: 1.28em;
}
.nav-linkdp{
    color:#fff;
    font-size:1.2em;
    background-color: #2f557f;
}
.nav-linkdp:hover{
    font-size: 1.28em;
    color: #3e8391;
}
.dropdownabout{
    color: #fff;
    background-color: #2f557f;
    border: none;
}